<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>
<div className="fixed-action-btn" id="btn-fixed">
  <a className="btn-floating btn-large waves-effect waves-light" href="#">
    {{/* <i className="large material-icons">arrow_upward</i> */}}
    <span class="material-symbols-outlined">arrow_upward</span>
  </a>
</div>

<script>
  /** Show or Hide the button when scroll after portfolio */
  {{/*  const toggleVisibility = () => {
    const btnFixed = document.querySelector("#btn-fixed");
    const portfolio = document.querySelector("#portfolio");

    document.addEventListener("scroll", () => {
      btnFixed.style.transform = window.pageYOffset >= portfolio.offsetTop ? "scale(1)" : "scale(0)";
    });
  };
  toggleVisibility();  */}}
</script>
