{{ range .Site.Data }}
  {{ range .portfolio }}
    {{ $portfolioPath := printf "images/portfolio/%s" .id }}
    {{ $modalThumb := resources.Get (printf "images/portfolio/%s/thumbnail.png" .id) }}
    {{ $alt := printf "Modal Image Thumbnail %s" .id }}


    <dialog id="modal-{{ .id }}" class="custom-dialog" role="dialog">
      <div class="grid-1 dialog-content">
        <h4>{{ .title }} {{ .length }}</h4>
        <img alt="{{ $alt }}" src="{{ $modalThumb.RelPermalink }}" width="512" height="512" />

        {{ range seq .length }}
          {{ $filename := printf "/modal-%d.png" . }}
          {{ $imgSrc := resources.Get (printf "%s" $filename | printf "%s%s" $portfolioPath ) }}
          {{ $altThumb := printf "Modal Image Thumbnail %d" . }}
          <img
            src="{{ $imgSrc.RelPermalink }}"
            alt="{{ $altThumb }}"
            width="{{ $imgSrc.Width }}"
            height="{{ $imgSrc.Height }}"
          />
        {{ end }}


        <div class="dialog-footer">
          <form method="dialog">
            <a class="btn-flat" target="_blank" rel="noopener noreferrer" role="button" data-dialog-url="{{ .url }}">
              Ver mais
              <i class="material-symbols-outlined">open_in_new</i>
            </a>
          </form>
        </div>
      </div>
    </dialog>
  {{ end }}
{{ end }}
