{{ range .Site.Data }}
  {{ range .portfolio }}
    <dialog id="modal-{{ .id }}" class="custom-dialog" role="dialog">
      <div class="grid-1 dialog-content">
        <h4>{{ .title }}</h4>
        {{ $portfolioPath := printf "images/portfolio/%s" .id }}
        {{ $portfolioThumbnail := resources.Get (printf "images/portfolio/%s/thumbnail.png" .id) }}
        {{ $portfolioThumbnailAlt := printf "Modal Image Thumbnail %s" .id }}
        {{ $portfolioImageSrc := ($portfolioThumbnail.Resize "620x620 webp").RelPermalink }}
        <img
          class="portfolio-thumbnail"
          alt="{{ $portfolioThumbnailAlt }}"
          src="{{ $portfolioImageSrc }}"
          width="620"
          height="620"
        />

        {{ range seq .length }}
          {{ $modalFilename := printf "/modal-%d.png" . }}
          {{ $modalImage := resources.Get (printf "%s" $modalFilename | printf "%s%s" $portfolioPath ) }}
          {{ $modalAlt := printf "Modal Image Thumbnail %d" . }}
          {{ $modalImageSrc := ($modalImage.Resize (printf "%dx%d webp" $modalImage.Width $modalImage.Height)).RelPermalink }}
          <img
            src="{{ $modalImageSrc }}"
            alt="{{ $modalAlt }}"
            width="{{ $modalImage.Width }}"
            height="{{ $modalImage.Height }}"
          />
        {{ end }}


        <div class="dialog-footer">
          <form method="dialog">
            <a class="btn-flat" target="_blank" rel="noopener noreferrer" role="button" data-dialog-url="{{ .url }}">
              Ver mais
              <i class="material-symbols-outlined">open_in_new</i>
            </a>
          </form>
        </div>
      </div>
    </dialog>
  {{ end }}
{{ end }}
