{{ $iconLiveDesign := "images/icon-live-design.svg" }}


<header class="container" id="header">
  {{/* Desktop Navigation */}}
  <div class="valign-wrapper">
    <nav class="navbar">
      <div class="nav-wrapper">
        <div class="navbar-logo">
          <img src="{{ $iconLiveDesign }}" width="38" alt="Ícone da Live Design" />
          <strong class="navbar-logo__label black-text">Traga vida à sua ideia!</strong>
        </div>

        <a href="#" data-target="mobile-menu" class="sidenav-trigger hide-on-large-only black-text">
          <i class="material-symbols-outlined">menu</i>
        </a>

        <ul class="right hide-on-med-and-down">
          {{/* Navigation Items */}}
          {{ range .Site.Menus.main }}
            <li>
              <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ end }}
          <li>
            <a class="gtag-orcamento" rel="noopener noreferrer">Orçamento</a>
          </li>

          <ul class="social-icons">
            {{ partial "home/components/social-media-links" . }}
          </ul>
        </ul>
      </div>
    </nav>
  </div>

  {{/* Mobile Navigation */}}
  <div id="mobile-menu-background"></div>
  <ul id="mobile-menu" class="sidenav">
    {{ range .Site.Menus.main }}
      <li>
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
    {{ end }}
    <li>
      <a class="gtag-orcamento" rel="noopener noreferrer"> Orçamento </a>
    </li>

    <ul class="social-icons valign-wrapper">
      {{ partial "home/components/social-media-links" . }}
    </ul>
  </ul>
</header>
