<!-- Contacts Section -->
<section class="container">
  <h1 class="center-align">Atendimento</h1>
  <h4 class="center-align">Estamos aqui para ajudar</h4>
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <i class="material-icons">phone</i>Telefones
      </div>
      <div class="collapsible-body center-align">
        <span
          ><h6>Administrativo</h6>
          +61 0434 385 978</span
        >
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">mail</i>E-mail
      </div>
      <div class="collapsible-body center-align">
        <span>contato@livedesgin.com.br</span>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">assignment</i>Formulário
      </div>
      <div class="collapsible-body center-align">
        <div class="col s12 m6" id="message">
          <form
            method="post"
            action="https://us-central1-live-design.cloudfunctions.net/sendEmail"
            class="col s12"
          >
            <div class="row">
              <div class="row">
                <div class="input-field col s12">
                  <input id="topic" type="text" class="validate" required />
                  <label for="topic">Assunto</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <textarea
                    id="message"
                    class="materialize-textarea"
                    required
                  ></textarea>
                  <label for="message">Mensagem</label>
                </div>
              </div>
              <button
                class="btn waves-effect waves-light blue"
                type="submit"
                name="action"
                onclick="Materialize.toast('Obrigado ! <br>Entraremos em contato o mais rápido possível'', 4000)"
              >
                Enviar<i class="material-icons right">send</i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </li>
  </ul>
</section>
