<!-- Documents Section -->
<section class="container">
  <h1 class="center-align">Seus Documentos</h1>
  <h4 class="center-align">Consulte aqui seus documentos</h4>
  <ul class="collapsible popout" data-collapsible="accordion">
    <li ng-repeat="item in documentsData">
      <div class="collapsible-header">
        <i class="material-icons">label_outline</i>{{item.name}}
      </div>
      <div class="collapsible-body">
        <ul class="collection">
          <li class="collection-item">
            <div>
              Orçamento<a
                href="{{item.documents.invoice}}"
                class="secondary-content"
                target="_blank"
                rel="noopener"
                ><i class="material-icons grey-text">file_download</i></a
              >
            </div>
          </li>
          <li class="collection-item">
            <div>
              Contrato de Prestação de Serviços<a
                href="{{item.documents.contract}}"
                class="secondary-content"
                target="_blank"
                rel="noopener"
                ><i class="material-icons grey-text">file_download</i></a
              >
            </div>
          </li>
          <li class="collection-item">
            <div>
              Escopo do Projeto<a
                href="{{item.documents.scope}}"
                class="secondary-content"
                target="_blank"
                rel="noopener"
                ><i class="material-icons grey-text">file_download</i></a
              >
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</section>
