<!-- Orders Section -->
<section class="container">
  <h1 class="center-align">Seus Pedidos</h1>
  <h4 class="center-align">Consulte aqui o status dos seus pedidos</h4>
  <ul class="collapsible popout" data-collapsible="accordion">
    <li ng-repeat="item in ordersData">
      <div class="collapsible-header">
        <i class="material-icons">label_outline</i>{{item.name}}
      </div>
      <div class="collapsible-body">
        <div class="row center-align">
          <div class="col s12 m2">
            <h5>01</h5>
            <h6>Proposta</h6>
          </div>
          <div class="col s12 m2">
            <h5>02</h5>
            <h6>Briefing</h6>
          </div>
          <div class="col s12 m2">
            <h5>03</h5>
            <h6>Design</h6>
          </div>
          <div class="col s12 m2">
            <h5>04</h5>
            <h6>Aprovação de layout</h6>
          </div>
          <div class="col s12 m2">
            <h5>05</h5>
            <h6>Programação</h6>
          </div>
          <div class="col s12 m2">
            <h5>06</h5>
            <h6>Aprovação Final</h6>
          </div>
        </div>
        <div class="progress">
          <div
            class="determinate blue"
            style="width: {{item.orders.progress}}"
          ></div>
        </div>
        <h5 class="center-align">Previsão de entrega</h5>
        <h5 class="center-align">{{item.orders.date}}</h5>
      </div>
    </li>
  </ul>
</section>
