<!-- Payments Section -->
<section class="container">
  <h1 class="center-align">Seus Pagamentos</h1>
  <h4 class="center-align">Consulte aqui o status dos seus pagamentos</h4>
  <ul>
    <div>
      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <div class="collapsible-header">
            <i class="material-icons">account_balance</i>Dados Financeiros
          </div>
          <div class="collapsible-body">
            <div class="container col s10 offset-s1">
              <div class="card orange lighten-1">
                <div class="card-content white-text center-align">
                  <span class="card-title">Itaú</span>
                  <p>Ag: 2970</p>
                  <p>Cc: 07735-6</p>
                  <p>CPF: 397.929.138-31</p>
                  <p>Renan Sigolo Ferreira</p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <li ng-repeat="item in paymentsData">
      <div class="card-panel grey lighten-5">
        <div class="card-content"><h5>{{item.name}}</h5></div>
        <ul class="collapsible" data-collapsible="expandable">
          <li ng-repeat="months in item.payments.month">
            <div class="collapsible-header">
              <i class="material-icons">{{months.icon}}</i>{{months.name}}
            </div>
            <div class="collapsible-body">
              <div class="container col s10 offset-s1">
                <div class="card {{months.color}}">
                  <div class="card-content white-text center-align">
                    <span class="card-title">R$ {{months.price}}</span>
                    <p>Vencimento em {{months.duedate}}</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</section>
