<!-- Signup Section -->
<section id="sign-up">
  <div class="card-content grey lighten-4" id="signup">
    <div class="card">
      <div class="row">
        <div class="row">
          <div class="input-field col s10 offset-s1">
            <input
              id="name"
              type="text"
              class="validate"
              ng-model="data.name"
              required
            />
            <label for="name">Nome Completo</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s10 offset-s1">
            <input
              id="signUpEmail"
              type="email"
              class="validate"
              ng-model="data.email"
              required
            />
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s10 offset-s1">
            <input
              id="signUpPassword"
              type="password"
              class="validate"
              ng-model="data.password"
              required
            />
            <label for="password">Senha</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center-align">
            <input
              type="checkbox"
              class="filled-in check-contract"
              id="filled-in-box"
              required
            />
            <label for="filled-in-box">Eu aceito os termos de contrato</label>
          </div>
        </div>
        <div class="row">
          <button
            class="btn waves-effect waves-light blue"
            id="btnSignUp"
            name="signup"
            ng-click="register()"
          >
            Cadastrar
          </button>
        </div>
      </div>
      <div class="card-action">
        <a
          class="grey-text text-lighten-1"
          href="../documents/legal/terms-and-conditions.pdf"
          target="_blank"
          rel="noopener"
          >Leia aqui os termos de contrato</a
        >
      </div>
    </div>
  </div>
</section>
