/* Variables
 * ===============
 *
 * All variables and most of the configuration is defined on this page. */
/* Colors */
$live-white: #ecf0f1;
$live-red: #e74c3c;
$live-blue: #3498db;
$live-black: #404041;
$live-alternative: #2c3e50;
$live-red-transparent: rgba($live-red, 0.55);
$live-blue-transparent: rgba($live-blue, 0.55);
/* Typography */
$font-color-light: #fff;
$font-color-dark: $live-black;
/* Header Styles */
$h1-fontsize: 3.6rem;
/* Margins */
$section-margin-top: 3.125rem;
$text-margin-bottom: 1.875rem;
/* Background Links */
$bg-live-white: url('../../../../images/backgrounds/bg-white.jpg');
$bg-live-blue: url('../../../../images/backgrounds/bg-blue.jpg');
$bg-live-red: url('../../../../images/backgrounds/bg-red.jpg');
