/* Buttons
  =============== */
//Social Media Icons

#social-media img:hover {
  opacity: 0.6;
}
//Contact Icons
.blue {
  background-color: $live-blue;

  &:hover {
    background-color: $live-blue;
    opacity: 0.6;
  }
}

.red {
  background-color: $live-red;

  &:hover {
    background-color: $live-red;
    opacity: 0.6;
  }
}
//Waves Effects
.waves-effect.waves-blue .waves-ripple {
  /* The alpha value allows the text and background color
     of the button to still show through. */
  background-color: $live-blue-transparent;
}

.waves-effect.waves-red .waves-ripple {
  /* The alpha value allows the text and background color
     of the button to still show through. */
  background-color: $live-red-transparent;
}
//Modal Button
.modal a {
  margin-top: 1rem;
}
