/* Testimony Section
  =============== */

.testimony {
  padding: 2vh 0;
  margin-bottom: 12vh;

  h2 {
    margin-bottom: 0;
  }

  &__subtitle {
    color: var(--grey);
    font-weight: 600;
    > p {
      margin-top: 8px;
    }
  }
  .col.m6 {
    padding-bottom: 16px;
    @media #{$medium-and-up} {
      padding: 0 32px 32px 0;
    }
    @media #{$large-and-up} {
      padding: 0 64px 64px 0;
    }
  }

  img {
    max-width: 50px;
    @media #{$medium-and-up} {
      max-width: 120px;
    }
  }

  &__footer {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    margin-top: -1em;

    span {
      color: var(--pink);
    }

    p {
      @media #{$small-and-down} {
        margin-left: 1em;
      }
    }
  }
}
