{{ $bannerAbout := "images/banner-about.svg" }}


<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col s12 l6 hide-on-small-and-down">
        <img class="responsive-img" src="{{ $bannerAbout }}" alt="Banner About" loading="lazy" />
      </div>
      <div class="col s12 l6 about__content">
        <span>Sobre nós</span>
        <h2>
          A&nbsp;Live&nbsp;Design&nbsp;cria&nbsp;projetos&nbsp;de identidade&nbsp;visual&nbsp;com
          o&nbsp;objetivo&nbsp;de&nbsp;agregar&nbsp;valor à&nbsp;marca&nbsp;e&nbsp;se&nbsp;conectar
          ao&nbsp;seu&nbsp;público&nbsp;alvo.
        </h2>
        <p>
          Todo&nbsp;o&nbsp;projeto&nbsp;é&nbsp;baseado&nbsp;em&nbsp;pesquisas&nbsp;e&nbsp;feito
          estratégicamente&nbsp;para&nbsp;transmitir&nbsp;a&nbsp;essência
          da&nbsp;sua&nbsp;marca&nbsp;ao&nbsp;seu&nbsp;público&nbsp;alvo.
        </p>
      </div>
    </div>
  </div>
</section>
