<section id="portfolio" class="portfolio">
  <div class="container">
    <h2>Portfólio</h2>
    <div class="portfolio__cases">
      <div class="grid-2">
        {{ range .Site.Data }}
          {{ range .portfolio }}
            {{ $imgSrc := resources.Get (printf "images/portfolio/%s/thumbnail.png" .id) }}
            {{ $alt := printf "Portfolio Image Thumbnail of %s" .title }}
            {{ $classIndex := printf "responsive-img modal-%s" .id }}
            <a href="#modal-{{ .id }}" class="modal-trigger">
              <img
                data-modal="modal-{{ .id }}"
                src="{{ $imgSrc.RelPermalink }}"
                alt="{{ $alt }}"
                class="{{ $classIndex }}"
                width="632"
                height="380"
              />
            </a>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
