<section id="testimony" class="testimony grey lighten-5">
  <div class="container">
    <div class="row">
      <h2>Depoimentos</h2>
      <p class="testimony__subtitle">O que os clientes estão dizendo sobre a Live Design.</p>
    </div>
    <div class="row">
      {{ range .Site.Data }}
        {{ range .testimony }}
          {{ $imgUrl := resources.Get (printf "images/avatar/%s.jpg" .id) }}
          {{ $alt := printf "foto do perfil %s" .id }}


          <div class="col s12 m6 testimony__header">
            <div class="desk-only">
              <img
                class="circle desk-only"
                height="120"
                width="120"
                src="{{ $imgUrl.RelPermalink }}"
                alt="{{ $alt }}"
              />
            </div>

            <p>&quot;{{ .description }}&quot;</p>

            <div class="testimony__footer">
              <img class="circle profile-mobile" height="50" width="50" src="{{ $imgUrl }}" alt="{{ $alt }}" />
              <p>
                {{ .fullName }}
                <br />
                <span>{{ .company }}</span>
              </p>
            </div>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>
