/* Footer
  =============== */

.row-social-icons {
  display: flex;
  justify-content: center;

  li {
    @include scale-on-hover;

    padding: 0 12px;
  }
}

footer {
  background-image: var(--bg-footer);
  background-repeat: no-repeat;
  background-size: cover;

  .footer {
    align-items: center;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60vh;
    padding-top: 10vh;

    .btn-orcamento {
      font-weight: 500;
      margin: 16px 0;
      text-decoration: none;
    }

    @media #{$medium-and-up} {
      padding-top: 20vh;
    }

    a {
      @include scale-on-hover;

      font-size: 1.2rem;
      font-weight: 300;
      text-decoration: underline;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      min-height: 250px;

      h2 {
        font-weight: 500;
      }
    }

    &__links {
      display: flex;
      justify-content: center;

      a {
        padding: 0 12px;
      }
    }
  }
}

.copyright {
  padding: 18px 0;

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media #{$medium-and-up} {
      flex-direction: row;
    }
  }

  &__links {
    align-items: center;
    display: flex;
    flex-direction: column;

    li {
      @include scale-on-hover;

      a {
        color: var(--white);
        cursor: pointer;
        font-weight: 600;
        margin: 6px 0;
      }
    }

    @media #{$medium-and-up} {
      flex-direction: row;

      li {
        padding: 0 8px;
      }
    }
  }
}
