/* Layout Dashboard
  =============== */

/* Sign Up */

#sign-up {
  a {
    font-size: 0.8125rem;
  }

  a:hover {
    text-decoration: underline;
  }
}

//Orders Section
//Progress Bar
.progress {
  color: $live-blue;
  background-color: $live-red-transparent;
}

/* Navigation Dashboard
  =============== */

//Navbar
#dashboard-navbar {
  .nav-dashboard {
    background-color: $live-red;
  }
}

/* Dashboard Form
  =============== */

/* Layout Signup */

#sign-up p {
  margin-bottom: 3vh;
}

/* Checkbox color */

.check-contract[type='checkbox'].filled-in:checked + label::after {
  border: 1px solid $live-blue !important;
  background-color: $live-blue !important;
}
