{{ $bannerHero := "images/banner-hero.svg" }}


<div class="bg-hero">
  <section id="hero" class="hero">
    <div class="container">
      <div class="row">
        <div class="col s12 l6">
          <div class="hero__content">
            <h1 class="title">
              Somos um estúdio de design especializado em&nbsp;projetos&nbsp;de <b>Identidade&nbsp;Visual.</b>
              <img src="/images/icon-live-design-white.svg" height="40" width="58" alt="Live Design Logo" />
            </h1>
            {{/* onClick={() => gtagFormConversion()} */}}
            <a class="btn btn-large btn-orcamento waves-effect white mt-8" rel="noopener noreferrer">
              Solicite um Orçamento
            </a>
          </div>
        </div>
        <div class="col s12 l6 hide-on-med-and-down">
          <img class="hero-img" src="{{ $bannerHero }}" alt="Banner Hero" />
        </div>
      </div>
    </div>
    {{/* onClick={() => location.href = '#about'} */}}
    <div id="learn-more">
      <div class="arrow-down">
        <span>Saiba mais</span>
        <img src="/images/icon-arrow-upward.svg" height="40" width="40" alt="Arrow Down" />
      </div>
    </div>
  </section>
</div>
