/* Buttons
  =============== */

// .btn-orcamento used for GoogleTag

.btn {
  border-radius: 50px;
  box-shadow: none;
}

// Scroll to top Button
.fixed-action-btn {
  transform: scale(0);
  transition: all 0.5s;
  .btn {
    background-color: var(--green);
  }
}

// Social Media Icons
#social-media img:hover {
  opacity: 0.6;
}

// Modal Button
.modal a {
  margin-top: 1rem;
}
