/* Typography
  =============== */

@font-face {
  font-family: Mosk;
  src: url("../fonts/mosk-normal.ttf");
}

@font-face {
  font-family: Mosk;
  src: url("../fonts/mosk-light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Mosk;
  src: url("../fonts/mosk-medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Mosk;
  src: url("../fonts/mosk-semi-bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Mosk;
  src: url("../fonts/mosk-bold.ttf");
  font-weight: 700;
}

// $fonts: (
//   'mosk-normal': '',
//   'mosk-light': 300,
//   'mosk-medium': 500,
//   'mosk-semi-bold': 600,
//   'mosk-bold': 700,
// );

// @each $name, $weight in $fonts {
//   @font-face {
//     font-family: Mosk;
//     src: url('../fonts/#{$name}.ttf');
//     font-weight: $weight;
//   }
// }

h1 {
  font-size: 2.6rem;
  line-height: 140%;
  margin: 0;
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

h5 {
  font-weight: 500;
}

p {
  font-size: 1.2rem;
}
